{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- STYLE LOCAL deployment only -->

</div>

<div class="bg-1">


    <!-- SECTION 4-->
    <div class="container">
        <div class="row" style="background-color: lightslategray; height: auto; justify-content: center;">
            <div class="col-md-8" style="margin-top: 15px;">
            <iframe src="https://open.spotify.com/embed/playlist/1otiqGNniX38098zDNRS5z" width="99%" height="550" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSel37xTSvsSnMrLVR-zGh18pTQL9anpXqx-sf9CNGOB_SuZkQ/viewform?embedded=true" width="99%" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}
